/virtualenv
/env
/venv
/node_modules

.env

*.log

instance/*
!instance/.gitkeep

*.sock

/__pycache__
*.pyc
*.pyo
*.log

*.egg
*.egg-info
.eggs/

htmlcov
.tox
.cache/
.coverage
.coverage.*

.idea/
.vscode/
nbproject/

.DS_Store
*~
