<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--// Page Title //-->
		<title>Emailer</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	</head>
	<body style="margin: 0; font-family: 'Montserrat', sans-serif;">
		<table cellspacing="0" cellpadding="0" style="width:650px; margin:0 auto; border:none; background: #ffffff;">
			<tr>
				<td>
					<table style="width:600px; margin:0 auto; border:none; text-align: center; padding: 20px 0 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="background: #b9dffc; padding: 40px;" cellspacing="0" cellpadding="0">
									<tr>
										<td style="padding-bottom: 30px;">
											<a href="{{config.APP_BASE_URL}}" target="_blank"><img style="line-height: 0; width: 214px; display: block; margin: 0 auto;" src="{{config.APP_BASE_URL}}{{ url_for('static', filename='assets/img/logo.svg') }}" alt="logo"></a>
										</td>
									</tr>
									<tr>
										<td style="padding-bottom: 100px;">
											<h3 style="font-family:Montserrat, sans-serif;font-weight: 900;font-size:28px;line-height:1.5;color:#1b1d36;margin:0 0 20px;">Reset your Password</h3>
											<p style="font-family:Montserrat, sans-serif;font-weight: 500;font-size:16px;line-height:1.5;color:#1b1d36;margin:0;">You are receiving this email because you requested a password reset for your Sleepsia Account. Please click on the below link to reset your password</p>											
											<p style="margin: 20px 0 0">
												<a style="display: inline-block; padding: 10px 20px; font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; background-color: #f9b205; text-decoration: none; text-transform: uppercase;" href="{{link}}">Reset your Password</a>
											</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width:600px; margin:0 auto; border:none;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" style="padding: 20px; background-color: #046894;" class="logo" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td style="text-align: center;">
											<h3 style="font-family: Montserrat, sans-serif; font-weight: 600; margin: 0 0 30px; font-size: 35px; line-height: 1.5; color: #ffffff;"><span style="font-family: Montserrat, sans-serif; font-weight: 400; font-size: 25px; line-height: 1.5; color: #ffffff; display: block;">Visit Us for the</span> Most Comfortable Pillows!</h3>
											<p style="font-family: Montserrat, sans-serif; font-weight: 400; margin: 0; font-size: 25px; line-height: 1.5; color: #ffffff; background-color: rgba(255, 255, 255, 0.25); text-transform: uppercase;">Cozy <span style="margin: 0 20px;">|</span> Durable <span style="margin: 0 20px;">|</span> supportive</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width:600px; margin:0 auto; border:none; padding: 0 0 20px;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" style="padding: 0 20px 20px; background-color: #046894;" class="logo" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td style="text-align: center;">
											<p style="font-family: Montserrat, sans-serif; font-weight: 600; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0 0 10px; text-transform: uppercase;">Visit Our <a href="{{config.APP_BASE_URL}}" target="_blank">Website</a></p>
											<ul style="margin: 0; padding: 0;">
												<li style="display: inline-block; margin-right: 10px;"><img src="img/facebook.png" alt=""></li>
												<li style="display: inline-block; margin-right: 10px;"><img src="img/instagram.png" alt=""></li>
												<li style="display: inline-block;"><img src="img/youtube.png" alt=""></li>
											</ul>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
