{% from "_macros/helpers.html" import flash_messages with context %}
<!doctype html>
<html lang="en">
    <head>
        <title>Forget Password - NPCI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom_style.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}" ></script>
        <script src="{{ url_for('static', filename='js/jquery-validation/jquery.validate.min.js') }}" ></script>
    </head>
    <body class="body">
        <div class="container-fluid someshadow">
            <div class="row">
                <div class="col-md-2 nopad">
                    <div class="">
                        <div class="dasboardclogo">
                            <img src="{{ url_for('static', filename='img/ace_logo_white.png') }}" width="228" class="img-fluid"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 nopad">
                    <div class="dasboarduserdetails">
                        <ul>
                            <li><img src="{{ url_for('static', filename='img/npci_logo.png') }}" height="40"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="message mt-5">{{ flash_messages() }}</div>
                    <div class="forgotpasswordbox m-0">
                        <h3>Enter your New Password Below:</h3>
                        {% set id = request.args.get('id') %}
                        <form name="reset_password_frm" id="resetPasswordFrm" method="POST" action="{{ url_for('auth.reset_password', email=request.args.get('email'), hash=request.args.get('hash'), expiry=request.args.get('expiry')) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="email" id="email" class="" value="{{request.args.get('email')}}"/>
                            <input type="password" name="new_password" id="newPassword" class="" placeholder="New Password"/>
                            <input type="password" name="confirm_password" id="confirmPassword" class="" placeholder="Confirm New Password"/>
                            <button type="submit" id="submit" class="">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app_base_url = "{{ config['APP_BASE_URL'] }}";
            var csrf_token = "{{ csrf_token() }}";
            function isNumberCheck(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if(charCode >= 48 && charCode<=57){
                    return true;
                }
                return false;
            }
        </script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom_validator.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('auth.static', filename='js/src/authenticate.js') }}"></script>

    </body>
</html>