.orderHistory {
    padding: inherit;
}
.orderHistory__item {
    display: flex;
    margin-bottom: 30px;
    background: white;
    flex-direction: column;
}
.orderHistory__item--head {
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
}
.orderHistory__item--head .item, .orderHistory__item--head .item > .dropdown {
    display: flex;
    width: 100%;
    align-items: center;
}
.orderHistory__item--head span {
    display: block;
    font-size: 16px;
    color: white;
    padding: 12px 15px;
    width: 48%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.orderHistory__item--head span.smallPadding {
    width: 1px;
    padding: 0 1px;
}
.orderHistory__item--head span.cursor:hover {
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .orderHistory__item--head span {
        font-size: 14px;
        padding: 4px 10px;
   }
}
.orderHistory__item--head .dropdown .dropdown-menu {
    max-width: 220px;
    border-radius: 0;
}
.orderHistory__item--head .dropdown .dropdown-menu p {
    margin: 0;
    padding: 8px 20px;
}
.orderHistory__item--head .dropdown .dropdown-menu p span {
    display: block;
    padding: 0;
    color: black;
    font-weight: 600;
}
@media (max-width: 768px) {
    .orderHistory__item--head {
        flex-direction: column;
   }
}
.orderHistory__item--list {
    display: flex;
    padding: 20px;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ebeef7;
}
.orderHistory__item--list:last-child {
    border-bottom: 0px solid #ebeef7;
}
.orderHistory__item--list .productInfo {
    width: 45%;
    display: flex;
    align-items: center;
}
.orderHistory__item--list .productInfo figure {
    width: 120px;
    margin-bottom: 0;
}
.orderHistory__item--list .productInfo figure img {
    max-width: 100%;
}
.orderHistory__item--list .productInfo .txt {
    width: 55%;
    padding-left: 15px;
}
.orderHistory__item--list .productInfo .txt p {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .orderHistory__item--list .productInfo .txt {
        width: 100%;
        padding: 10px;
        text-align: center;
   }
}
@media (max-width: 768px) {
    .orderHistory__item--list .productInfo {
        width: 100%;
        flex-direction: column;
   }
}
.orderHistory__item--list .otherDetails {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orderHistory__item--list .otherDetails ul {
    display: flex;
    align-items: flex-end;
}
.orderHistory__item--list .otherDetails ul li {
    display: block;
    padding: 0 5px;
}
.orderHistory__item--list .otherDetails ul li.price {
    font-size: 18px;
}
.orderHistory__item--list .otherDetails ul li.price span {
    font-weight: 600;
    font-size: 21px;
}
.orderHistory__item--list .otherDetails ul li .btn {
    margin-left: 5px;
}
.orderHistory__item--list .otherDetails ul li .btn:first-child {
    margin-left: 0;
}
.orderHistory__item--list .otherDetails ul li .btn.btn-purple {
    color: white;
    background: #238525;
}
.orderHistory__item--list .otherDetails ul li .points_label {
    margin-right: 0;
}
.orderHistory__item--list .otherDetails ul li .status {
    display: block;
    padding: 8px 15px;
    text-align: center;
    margin-left: 10px;
    background: #f3f3f3;
    font-weight: 600;
}
.orderHistory__item--list .otherDetails ul li .status.delivered {
    color: #238525;
}
.orderHistory__item--list .otherDetails ul li .status.cancelled {
    color: #ad1010;
}
.orderHistory__item--list .otherDetails ul.statusFeedback {
    flex-direction: column;
}
.orderHistory__item--list .otherDetails ul.statusFeedback li {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
.orderHistory__item--list .otherDetails ul.statusFeedback li:last-child {
    margin-bottom: 0;
}
.orderHistory__item--list .otherDetails ul.statusFeedback .showReview {
    display: flex;
    padding-top: 10px;
    align-items: center;
}
.orderHistory__item--list .otherDetails ul.statusFeedback .showReview i {
    color: #ec9c34;
    margin-left: 5px;
}
@media (max-width: 1366px) {
    .orderHistory__item--list .otherDetails ul.statusFeedback {
        flex-direction: row;
   }
    .orderHistory__item--list .otherDetails ul.statusFeedback li {
        margin-bottom: 0;
   }
}
@media (max-width: 1366px) {
    .orderHistory__item--list .otherDetails ul {
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
        justify-content: flex-end;
   }
    .orderHistory__item--list .otherDetails ul:last-child {
        margin-bottom: 0;
   }
}
@media (max-width: 768px) {
    .orderHistory__item--list .otherDetails ul {
        flex-wrap: wrap;
        justify-content: center;
   }
    .orderHistory__item--list .otherDetails ul li {
        margin: 5px;
   }
}
@media (max-width: 1366px) {
    .orderHistory__item--list .otherDetails {
        flex-direction: column;
   }
}
@media (max-width: 768px) {
    .orderHistory__item--list .otherDetails {
        width: 100%;
   }
}
@media (max-width: 768px) {
    .orderHistory__item--list {
        flex-direction: column;
   }
}
