<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--// Page Title //-->
		<title>Emailer</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	</head>
	<body style="margin: 0; font-family: 'Montserrat', sans-serif;">
		<table cellspacing="0" cellpadding="0" style="width:650px; margin:0 auto; border:none; background: #ffffff;">
			<tr>
				<td>
					<table style="width:600px; margin:0 auto; border:none; text-align: center; padding: 20px 0 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="" cellspacing="0" cellpadding="0">
									<tr>
										<td style="padding-bottom: 30px;">
											<img style="line-height: 0; width: 100%; display: block; margin: 0 auto;" src="https://ace.rnr.nthrewards.com/static/img/top-section.jpg" alt="logo">
										</td>
									</tr>
									<tr>
										<td>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0 0 30px;">Dear Mr. <span>{{ data.emp_name }}</span>,</p>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0 0 30px;">Congratulations on Winning the <span>{{ data.award_name }}</span> Award, awarded by <span>{{ data.awarded_by }}</span>. You can view the details by using the below link <a href="https://ace.rnr.nthrewards.com/" style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; display: block;">https://ace.rnr.nthrewards.com/</a></p>
											<!--<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0 0 30px;">If you are signing in for the first time, please add your mobile number and create password. You can see a reward amount credited in your wallet on the Nth Rewards page.</p>-->
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0;">In case of any assistance, please feel free to connect with Us.</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>