<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Page Title -->
		<title>Emailer</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
	</head>
	<body style="margin: 0; font-family: 'Montserrat', sans-serif;">
		<table cellspacing="0" cellpadding="0" style="width: 100%; margin: 0 auto; border: none; background: #ffd966; padding: 20px;">
			<tr>
				<td>
					<table style="width: 650px; margin: 0 auto; border: none; padding: 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<img style="line-height: 0; width: 650px; display: block; margin: 0 auto;" src="https://ace.rnr.nthrewards.com/static/img/emailer_img/top-section.jpg" alt="logo">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width:650px; margin:0 auto; border:none; text-align: center; padding: 20px 0 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="" cellspacing="0" cellpadding="0">
									<tr>
										<td style="text-align: left;">
											<a href="#!" style="line-height: 0; display: inline-block;"><img style="line-height: 0; width: 75px;" src="https://ace.rnr.nthrewards.com/static/img/emailer_img/ace_logo.png" alt="logo"></a>
										</td>
										<td style="text-align: right;">
											<a href="#!" style="line-height: 0; display: inline-block;"><img style="line-height: 0; width: 150px;" src="https://ace.rnr.nthrewards.com/static/img/emailer_img/npci_logo.jpg" alt="logo"></a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width: 650px; margin: 0 auto; border: none; padding: 20px 0 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0 0 30px;">Dear <span><strong>{{ data.emp_name }}</strong></span>,</p>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0 0 30px;">Congratulations on winning the Award - <span><strong>{{ data.award_name }}</strong></span></p>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0 0 30px;">Awarded by: <span>{{ data.awarded_by }}</span></p>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0;"><i>{{data.citation_msg}}</i></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width: 650px; margin: 0 auto; border: none; padding: 20px 0 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<img style="line-height: 0; width: 100%;" src="{{ data.reward_img }}" alt="logo">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width: 650px; margin: 0 auto; border: none; padding: 20px 0 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0;">You can view the details by using the below link <a href="https://ace.rnr.nthrewards.com/" style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; display: block;">https://ace.rnr.nthrewards.com/</a></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width: 650px; margin: 0 auto; border: none; padding: 20px 0 0;" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%" border="0" style="" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<p style="font-family: Montserrat, sans-serif; font-weight: 500; font-size: 16px; line-height: 1.5; color: #1b1d36; margin: 0;">Regards, <br>Team HR</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>