<div class="row">
	<div class="col-lg-12 col-md-12 nopad">
		<div class="dasboarduserdetails">
			<img src="https://rupayrewardassets.blob.core.windows.net/npciace/Homepagebanner.png" alt="" class="desktopView" />
			<div class="mobLogo2 mLLeft"><img src="{{ url_for('static', filename='img/company_logo_old.png') }}" class="img-fluid" /></div>
			<div class="mobLogo2 mLRight"><img src="{{ url_for('static', filename='img/NPCI-EVP-Logo.jpg') }}" class="img-fluid" />
			</div>
		</div>
	</div>
	<!-- <div class="col-lg-3 col-md-2 nopad">
		<div class="notifybox">
			<a href="javascript:void(0)"><img src="img/notify_bell.png"/></a>
		</div>
	</div> -->
</div>